@using WebApp.Models
@model List<Customer>
<div class="container mt-5">
    <h2 style="text-align: center;">Registred Users</h2>
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Email</th>
                    <th>Full Name</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var customer in Model)
                {
                    <tr>
                        <td>@customer.Email</td>
                        <td>@customer.FullName</td>
                        <td>
                            <button class="btn btn-info" onclick="viewProfile('@customer.Email')">View Profile</button>
                            <button class="btn btn-danger" onclick="deleteUser('@customer.Email')">Delete User</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<a asp-controller="Home" asp-action="Index" class="btn btn-primary mt-4">Back</a>

<script>
    function viewProfile(email) {
        window.location.href = '@Url.Action("Profile", "Customer")?email=' + encodeURIComponent(email);
    }

    function deleteUser(email) {
        var confirmDelete = confirm("Are you sure you want to delete the user with email " + email + "?");
        if (confirmDelete) {
            $.ajax({
                url: '@Url.Action("Delete", "Customer")',
                type: 'POST',
                data: { email: email },
                success: function (result) {
                    if (result.success) {
                        window.location.reload();
                    } else {
                        alert("Error deleting Customer: " + result.message);
                    }
                },
                error: function (error) {
                    console.error('Error deleting Customer:', error);
                }
            });
        }
    }
</script>